@font-face {
  font-family: "Bitter-Italic";
  src: url("./fonts/Bitter-Italic.woff2") format("woff2"), url("./fonts/Bitter-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "LobsterTwo-Bold";
  src: url("./fonts/LobsterTwo-Bold.woff2") format("woff2"), url("./fonts/LobsterTwo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bitter-Bold";
  src: url("./fonts/Bitter-Bold.woff2") format("woff2"), url("./fonts/Bitter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bitter-Regular";
  src: url("./fonts/Bitter-Regular.woff2") format("woff2"), url("./fonts/Bitter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LobsterTwo-BoldItalic";
  src: url("./fonts/LobsterTwo-BoldItalic.woff2") format("woff2"), url("./fonts/LobsterTwo-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "LobsterTwo-Italic";
  src: url("./fonts/LobsterTwo-Italic.woff2") format("woff2"), url("./fonts/LobsterTwo-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "LobsterTwo-Regular";
  src: url("./fonts/LobsterTwo-Regular.woff2") format("woff2"), url("./fonts/LobsterTwo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("./fonts/SofiaSansExtraCondensed-Thin.woff2") format("woff2"), url("./fonts/SofiaSansExtraCondensed-Thin.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem;
  background-color: rgb(42, 34, 12);
  color: white;
}
.contactForm h2 {
  color: rgb(228, 228, 225);
  text-transform: uppercase;
  text-align: center;
}
.contactForm p {
  color: rgb(150, 148, 140);
  text-align: center;
  margin-top: 1.6rem;
  text-decoration: none;
  cursor: pointer;
}
.contactForm p:hover {
  color: #DD0400;
  transition: all 0.25s;
  cursor: pointer;
}
.contactForm button {
  width: 8rem;
  padding: 8px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 2rem;
}
.contactForm .decorationDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
}
.contactForm .decorationDiv img {
  width: 50px;
}
.contactForm form {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 991px) {
  .contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .contactForm .decorationDiv {
    width: 300px;
    margin-top: 3rem;
  }
  .contactForm h2 {
    font-size: 1.5rem;
  }
  .contactForm p {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }
  .contactForm form {
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    margin-top: 0.1rem;
  }
  .contactForm button {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 375px) {
  .contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .contactForm .decorationDiv {
    width: 230px;
    margin-top: 3rem;
  }
  .contactForm h2 {
    font-size: 1.5rem;
  }
  .contactForm p {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }
  .contactForm form {
    display: flex;
    flex-direction: column;
    width: 230px;
    grid-row-gap: 1rem;
    margin-top: 0.1rem;
  }
  .contactForm button {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
}/*# sourceMappingURL=ContactForm.css.map */