@import '../../constants.scss';

div.complete-menu-section {
	margin-top: 5rem;
	div.menu-section {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		div.menu-title {
			display: block;
			div.col {
				text-align: center;
				h2 {
					height: 100%;
					display: flex;
					justify-content: center;
					flex-direction: row;
					flex-wrap: nowrap;
					align-items: center;
					font-size: 36px;
					font-family: $Bitter-Regular;
					color: $pizzas-and-desserts;
					margin: auto;
				}
				h2:before,
				h2:after {
					display: block;
					height: 2px;
					background-color: #eee;
					min-width: 200px;
					margin: 0 20px;
					content: ' ';
				}
				p {
					text-align: center;
					font-size: 24px;
					font-family: $LobsterTwo-Italic;
					color: $exclusive-and-delicious;
					span.lowercase {
						font-style: to-lower-case($string: '');
					}
				}
			}
		}

		div.menu-background {
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: auto 70%;
			min-height: 350px;
		}

		div.menu-content {
			div.col {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				div.menu-item {
					width: 30%;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	div.complete-menu-section {
		div.menu-section {
			div.menu-content {
				div.col {
					div.menu-item {
						width: 45%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	div.complete-menu-section {
		div.menu-section {
			div.menu-title {
				div.col {
					h2 {
						font-size: 22px;
					}
					p {
						font-size: 16px;
					}
				}
			}
			div[class^='menu-background-'] {
				min-height: 250px;
			}
			div.menu-content {
				div.col {
					div.menu-item {
						width: 80%;
					}
				}
			}
		}
	}
}
