@import '../../constants.scss';

.main-menu {
	background-image: url('../../../public/menu_img/menu_left.jpg'), url('../../../public/menu_img/menu_right.jpg');
	background-position: top left, top right;
	background-size: 12%;
	background-repeat: no-repeat;
	.menu-logo {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.menu-logo-line {
		text-align: center;
		margin-bottom: 40px;
	}
	.menu-home-section-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

// ----------MEDIA--------------------

@media screen and (max-width: 992px) {
	.main-menu {
		background-image: none;
	}
}
