@font-face {
  font-family: "Bitter-Italic";
  src: url("./fonts/Bitter-Italic.woff2") format("woff2"), url("./fonts/Bitter-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "LobsterTwo-Bold";
  src: url("./fonts/LobsterTwo-Bold.woff2") format("woff2"), url("./fonts/LobsterTwo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bitter-Bold";
  src: url("./fonts/Bitter-Bold.woff2") format("woff2"), url("./fonts/Bitter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bitter-Regular";
  src: url("./fonts/Bitter-Regular.woff2") format("woff2"), url("./fonts/Bitter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LobsterTwo-BoldItalic";
  src: url("./fonts/LobsterTwo-BoldItalic.woff2") format("woff2"), url("./fonts/LobsterTwo-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "LobsterTwo-Italic";
  src: url("./fonts/LobsterTwo-Italic.woff2") format("woff2"), url("./fonts/LobsterTwo-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "LobsterTwo-Regular";
  src: url("./fonts/LobsterTwo-Regular.woff2") format("woff2"), url("./fonts/LobsterTwo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("./fonts/SofiaSansExtraCondensed-Thin.woff2") format("woff2"), url("./fonts/SofiaSansExtraCondensed-Thin.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.complete-section .complete-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.complete-section .complete-menu .complete-menu-line {
  display: flex;
  flex-direction: row;
}
.complete-section .complete-menu .complete-menu-line .complete-menu-lines {
  margin: 20px 20px;
  background-color: #e5e0e0;
}
.complete-section .complete-menu .complete-menu-line h2 {
  color: #763E23;
}
.complete-section .complete-menu .color {
  font-size: 1.5em;
  margin-bottom: 50px;
  color: #86A637;
  font-family: "LobsterTwo-Italic";
}
.complete-section .complete-menu img {
  margin-bottom: 50px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.complete-section .complete-menu .bottom {
  margin-bottom: 50px;
}
.complete-section .complete-menu .bottom .complete-menu-item {
  padding: 0 50px;
}
.complete-section .complete-menu .ornament {
  margin: 50px 100px 100px 0;
}

@media screen and (max-width: 1200px) {
  .complete-section .complete-menu .complete-menu-item .media1 {
    margin: 0 15px 0 -30px;
  }
  .complete-section .complete-menu .complete-menu-item .media2 {
    margin-right: 15px;
  }
}
@media screen and (min-width: 992px) {
  .complete-section .complete-menu {
    left: 20px;
    position: relative;
    margin-left: -100px;
  }
  .complete-section .complete-menu .complete-menu-line, .complete-section .complete-menu .color {
    left: 40px;
    position: relative;
  }
  .complete-section .complete-menu .complete-menu-lines {
    max-width: 300px;
  }
  .complete-section .complete-menu .ornament {
    left: 3%;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .complete-section .complete-menu {
    max-width: 60%;
  }
  .complete-section .complete-menu .complete-menu-line, .complete-section .complete-menu .complete-menu-lines {
    width: 30%;
    margin: 0 25%;
  }
  .complete-section .complete-menu .complete-menu-line .complete-menu-lines, .complete-section .complete-menu .complete-menu-lines .complete-menu-lines {
    min-width: 200px;
  }
  .complete-section .complete-menu .color {
    left: 28%;
    position: relative;
  }
  .complete-section .complete-menu img {
    margin-left: 250px;
  }
  .complete-section .complete-menu .complete-menu-item {
    margin-left: 50px;
  }
  .complete-section .complete-menu .complete-menu-item .media1 {
    right: 50px;
    min-width: 50%;
    position: relative;
  }
  .complete-section .complete-menu .complete-menu-item .media2 {
    left: 60px;
    min-width: 50%;
    position: relative;
  }
  .complete-section .complete-menu .complete-menu-item .media3 {
    margin: 50px 0 -20px 20%;
  }
  .complete-section .complete-menu .ornament {
    margin: 50px -250px 100px 0;
  }
}
@media screen and (max-width: 576px) {
  .complete-section .complete-menu .complete-menu-line {
    margin: 0 30%;
  }
  .complete-section .complete-menu .complete-menu-line .complete-menu-lines {
    top: -5px;
    min-width: 90%;
    position: relative;
    background-color: #c2bebe !important;
  }
  .complete-section .complete-menu .color {
    left: 72%;
    min-width: 150%;
    font-size: 1.2em;
  }
  .complete-section .complete-menu img {
    max-width: 300px;
    max-height: 200px;
    margin-right: 50px;
  }
  .complete-section .complete-menu .complete-menu-item {
    display: inline-block;
  }
  .complete-section .complete-menu .complete-menu-item .media1 {
    top: 0;
    left: 100px;
  }
  .complete-section .complete-menu .complete-menu-item .media2 {
    top: 50px;
    left: 70px;
  }
  .complete-section .complete-menu .complete-menu-item .media3 {
    margin: 100px 15%;
    margin-bottom: 50px;
  }
  .complete-section .complete-menu .ornament {
    margin: 0 -200px 100px 0;
  }
}/*# sourceMappingURL=CompleteMenu.css.map */