@import '../../constants.scss';

.menu-section {
	padding: 5px;
	.container-section {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		h2 {
			font-size: 20px;
			text-align: center;
			padding-bottom: 20px;
			color: $the-history-title;
		}
	}
}
