div .chevron-container {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
    z-index: 50;
}

div .chevron-container .circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(255,255,255,0.7) ;
    cursor: pointer;
}

div .chevron-container .circle .arrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 4px;
    color: white;
    animation: sdb05 1.5s infinite;
}

@media only screen and (max-width: 768px){
    div .chevron-container{  
        position: relative;
        display: flex;
        justify-content: center;
    }
    div .chevron-container .circle .arrow {
        position: relative;
        display: flex;
        justify-content: center;
        animation: sdb05 1.5s infinite;
        
}}
@media only screen and (max-width: 600px){
    div .chevron-container .circle{  
        position: relative;
        display: flex;
        justify-content: center;
        width: 27px;
        height: 27px;
        bottom: 0;
        z-index: 50;
    }
    div .chevron-container .circle .arrow {
        position: relative;
        display: flex;
        justify-content: center;
        bottom: 8px;
        animation: sdb06 1.5s infinite;
      
}}

@keyframes sdb05 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 24px);
      opacity: 0;
    }
  }

  @keyframes sdb06 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 17px);
      opacity: 0;
    }
  }