@import '../../constants.scss';

div.about-title {
	div.row {
		div.col {
			div.about-main-title {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}

			h2 {
				font-family: $Bitter-Regular;
				color: $main-text;
			}

			div.about-sub-title {
				padding: 20px;
				width: 60%;
				margin: 0 auto;

				p {
					font-family: $Bitter-Regular;
					color: $test;
					text-align: center;
					font-size: 14px;
					line-height: 1.6em;
				}
			}
		}
	}
}

.margin4 {
	margin-top: 4rem;
}

// ------------------- MEDIA ---------------

@media only screen and (max-width: 767px) {
	div.about-title {
		div.row {
			div.col {
				div.about-main-title {
					gap: 10px;
				}
				h2 {
					font-size: 20px;
				}

				div.about-sub-title {
					width: 100%;
					padding: 10px;

					p {
						font-size: 12px;
					}
				}
			}
		}
	}
}
