@import "../../constants.scss";

.complete-menu-item {
    display: flex;
    flex-wrap: wrap;
    .complete-content-item {
        min-width: 300px;
        h3 {
            color: black;
            font-size: 16px;
            text-transform: uppercase;
        }
        h3, p, span {
            margin: -5px 0; 
        }
        p, span {
            font-size: 13px;
            display: inline;
            padding-bottom: 20px;
        }
        span {
            float: right;
            color: $prices;
            margin-top: 3px;
       }
    }
}