@import "./fonts.scss";

//colors
$main-text: #999999;
$the-history-title: #2FA050;
$history-of-kitchens: #DF0402;
$working-days: #DD0302;
$call-of-reservations: #DD0400;
$pizzas-and-desserts: #763E23;
$exclusive-and-delicious: #86A637;
$prices: #C02533;

//fonts
  $Bitter-Italic: 'Bitter-Italic';
  $LobsterTwo-Bold: 'LobsterTwo-Bold';
  $Bitter-Bold: 'Bitter-Bold';
  $Bitter-Regular: 'Bitter-Regular';
  $LobsterTwo-BoldItalic: 'LobsterTwo-BoldItalic';
  $LobsterTwo-Italic: 'LobsterTwo-Italic';
  $LobsterTwo-Regular: 'LobsterTwo-Regular';
  $SofiaSansExtraCondensed:'Sofia Sans Extra Condensed';