//colors
$main-text: #383735;
$the-history-title: #2FA050;
$history-of-kitchens: #DF0402;
$working-days: #DD0302;
$call-of-reservations: #DD0400;
$pizzas-and-desserts: #763E23;
$exclusive-and-delicious: #86A637;
$prices: #C02533;